.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  height: 800;
  margin-top: 0;
}
.logo {
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.search{
  border:2px solid black;
  border-radius: 2px;
}
.search button{
  background-color: #a09b9b;
}